.header{

  background: linear-gradient(90deg, #082134, #002B45, #002B45);

}

.menuBtn.menuBtn {

  cursor: pointer;

}

.signinBtn.signinBtn {

  font-family: "Times New Roman", Times, serif;
  background-color: #3A814E;
  width: 100px;
  font-size: 20px;

}

.signinBtn.signinBtn:hover {

  text-decoration: underline;
  
}

.sidebarMenuItemsColor.sidebarMenuItemsColor {

  color: #353535;

}

.sidebarMenuItemsColor.sidebarMenuItemsColor:hover {

  text-decoration: underline;

}

.signIn.signIn {

  font-size: 32px;

}