header, .section-1 {

  background: linear-gradient(90deg, #082134, #002B45, #002B45);

}

.menu-btn, .heading, .apple-header-button, .footer-apple-button {

  cursor: pointer;

}

.sidebar-menu-items-color {

  color: #353535;

}

.sidebar-menu-items-color:hover {

  text-decoration: underline;

}

.apple-header-button {

  height: 40px;

}

.signin-btn {

  background-color: #3A814E;
  
}

.signin-btn{

  width: 100px;
  font-size: 20px;

}

.btn-success:hover {

  text-decoration: underline;

}

.sign-in {

  font-size: 32px;

}

.signin-btn, .section-3, .section-4 {

  font-family: 'Times New Roman', Times, serif;

}


.button-container {

  top: 50%;
  transform: translate(-210%, -40%);
  height: 300px;
  display: none;

}

.section-3.active .button-container {

  display: flex;
  justify-content: space-around;
  flex-direction: column;

}

.section {

  min-height: 100vh; 

}

.image, .story  {

  opacity: 0;
  height: 500px;
  transform: translate(250%, 40%);
  top: calc(30% - 250px); 

}

.image  {

  position: fixed;
  
}

.story {

  transform: translate(245%, -43%);
  top: calc(30% - 150px); 
  height: 500px;
  width: 240px;

}

.section.active .story, .section.active .image {

  opacity: 1;

}

@media (max-width: 575px) {

  .image, .story {

    opacity: 1;
    position: relative;

  }

  .image {

    transform: translateY(10%);

  }

  .story {

    transform: translateY(-10%);

  }
}


@media (max-width: 991px) and (min-width: 576px) {

  .image, .story {

    opacity: 0;

  }

  .image {

      transform: translate(130%, 20%);

  }

  .story {

    transform: translate(130%, -90%);

  }
}

@media (max-width: 1024px) and (min-width: 992px) {

  .image, .story {

    opacity: 0;

  }

  .image {

      transform: translate(200%, 20%);

  }

  .story {

    transform: translate(195%, -60%);

  }
}

.footer-items, .no-hover-privacy-policy {
  
  color: #646464;
  text-decoration: none;

}

.footer-items:hover{

  color: #646464;
  text-decoration: underline;
  
}

.footer-apple-button {

  height: 45px;

}

 ul {

  font-size: 20px;

}

.section-2, .footer-section-2 {

  background-color: #F9F9F9;

}