.section-3{

  font-family: 'Times New Roman', Times, serif;

}

.button-container {

  top: 50%;
  transform: translate(-210%, -40%);
  height: 300px;
  display: none;

}

.section-3.active .button-container {

  display: flex;
  justify-content: space-around;
  flex-direction: column;

}

.section {

  min-height: 100vh; 

}

.image, .story  {

  opacity: 0;
  height: 500px;
  transform: translate(250%, 40%);
  top: calc(30% - 250px); 

}

.image  {

  position: fixed;
  
}

.story {

  transform: translate(245%, -43%);
  top: calc(30% - 150px); 
  height: 500px;
  width: 240px;

}

.section.active .story, .section.active .image {

  opacity: 1;

}

@media (max-width: 575px) {

  .image, .story {

    opacity: 1;
    position: relative;

  }

  .image {

    transform: translateY(10%);

  }

  .story {

    transform: translateY(-10%);

  }
}


@media (max-width: 991px) and (min-width: 576px) {

  .image, .story {

    opacity: 0;

  }

  .image {

      transform: translate(130%, 20%);

  }

  .story {

    transform: translate(130%, -90%);

  }
}

@media (max-width: 1024px) and (min-width: 992px) {

  .image, .story {

    opacity: 0;

  }

  .image {

      transform: translate(200%, 20%);

  }

  .story {

    transform: translate(195%, -60%);

  }
}